@using DLyah_Boutique_System.ViewModels
@model List<ProductListViewModel>

@{
    Layout = "_Layout";
}

<div class="text-center">
    <div class="text-end">
        <a role="button" class="btn btn-primary" asp-controller="Product" asp-action="Register"><i
                class="bi bi-send-plus"></i></a>
    </div>

    <h1 class="display-4">Listagem de Produtos</h1>

    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th> @* Image *@
            <th scope="col">Nome</th>
            <th scope="col">Gênero</th>
            <th scope="col">Categorias</th>
            <th scope="col">Cores</th>
            <th scope="col">Tamanhos</th>
            <th scope="col">Estoque</th>
            <th scope="col">Preço</th>
            <th scope="col"></th> @* View Button *@
            <th scope="col"></th> @* Edit Button and Remove Button*@
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any()) {
            foreach (ProductListViewModel product in Model) {
                <tr>
                    <th scope="row">@product.Product.ProductId</th>
                    <td>
                        @if (product.Images != null && product.Images.Any()) {
                            <img src="@product.Images.First().ProductImagePath" alt="@product.Product.ProductName"
                                 style="max-width: 50px; max-height: 50px;">
                        } else {
                            <span>Sem imagem</span>
                        }
                    </td>
                    <td>@product.Product.ProductName</td>
                    <td>@product.Gender.Gender</td>
                    <td>
                        @if (product.Categories != null && product.Categories.Any()) {
                            @if (product.Categories.Count <= 3) { // Display up to 3 categories initially
                                <ul>
                                    @foreach (var category in product.Categories) {
                                        <li>@category.Category</li>
                                    }
                                </ul>
                            } else {
                                <ul>
                                    @for (int i = 0; i < 3; i++) {
                                        <li>@product.Categories[i].Category</li>
                                    }
                                </ul>
                                <a href="javascript:void(0);" class="see-more-categories"
                                   data-product-id="@product.Product.ProductId"><i class="bi bi-three-dots"></i>
                                    (@(product.Categories.Count - 3))</a> // Counts how many categories there are excluding the three already displayed
                                <ul id="categorias-@product.Product.ProductId" style="display: none;">
                                    @for (int i = 3; i < product.Categories.Count; i++) {
                                        <li>@product.Categories[i].Category</li>
                                    }
                                </ul>
                            }
                        } else {
                            <span>Nenhuma</span>
                        }
                    </td>
                    <td>
                        @if (product.Colors != null && product.Colors.Any()) {
                            @if (product.Colors.Count <= 2) {
                                <ul>
                                    @foreach (var color in product.Colors) {
                                        <li>
                                            <div class="color-box color-s" style="background-color:@color.HexColor"></div>
                                        </li>
                                    }
                                </ul>  
                            } else {
                                <ul>
                                    @for (int i = 0; i < 2; i++) {
                                        <div class="color-box" style="background-color:@product.Colors[i].HexColor"></div>
                                    }
                                </ul>
                                <a href="javascript:void(0);" class="see-more-colors"
                                   data-product-id="@product.Product.ProductId">
                                    <i class="bi bi-three-dots"></i>
                                    (@(product.Colors.Count - 2))
                                </a>
                                <ul id="categorias-@product.Product.ProductId" style="display: none;">
                                    @for (int i = 2; i < product.Colors.Count; i++) {
                                        <li>
                                            <div class="color-box" style="background-color:@product.Colors[i].HexColor"></div>
                                        </li>
                                    }
                                </ul>
                            }
                        } else {
                            <span>Nenhuma</span>
                        }
                    </td>
                    <td>
                        @if (product.Sizes != null && product.Sizes.Any()) {
                            @if (product.Sizes.Count <= 4) {
                                <ul>
                                    @foreach (var size in product.Sizes) {
                                        <li>@size.Size</li>
                                    }
                                </ul>    
                            } else {
                                <ul>
                                    @for (int i = 0; i < 4; i++) {
                                        <li>@product.Sizes[i].Size</li>
                                    }
                                </ul>
                                <a href="javascript:void(0);" class="see-more-sizes"
                                   data-product-id="@product.Product.ProductId">
                                    <i class="bi bi-three-dots"></i>
                                    (@(product.Sizes.Count - 4))
                                </a>
                                <ul id="categorias-@product.Product.ProductId" style="display: none;">
                                    @for (int i = 4; i < product.Sizes.Count; i++) {
                                        <li>@product.Sizes[i].Size</li>
                                    }
                                </ul>
                            }
                        } else {
                            <span>Nenhuma</span>
                        }
                    </td>
                    <td>@product.Product.ProductQuantity</td>
                    <td>@product.Product.ProductPrice</td>
                    <td><i class="bi bi-eye-fill"></i></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-outline-primary" asp-route-id="@product.Product.ProductId"
                               asp-controller="Product" asp-action="Edit"><i class="bi bi-pencil-fill"></i></a>
                            <a role="button" class="btn btn-danger btn-delete-product"
                               color-id="@product.Product.ProductId"><i class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>