@model DLyah_Boutique_System.ViewModels.ProductRegisterViewModel

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Produto</h1>

    <form asp-controller="Product" asp-action="Register" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label">Imagens do Produto</label>
            <input type="file" asp-for="PImages" id="productImagesInput" class="form-control" multiple accept="image/*"/>
            <div id="imagePreviewContainer" class="row mt-3">
                @if (ViewBag.ImagePreviews != null) {
                    for (var i = 0; i < ((List<string>)ViewBag.ImagePreviews).Count; i++) {
                        <div class="image-preview-container" draggable="true" data-index="@i">
                            <img alt="" class="image-preview" src="@((List<string>)ViewBag.ImagePreviews)[i]"/>
                        </div>
                    }
                }
            </div>
        </div>


        <div class="form-group p-2">
            <label for="name" class="control-label">Nome do Produto</label>
            <input asp-for="ProductName" class="form-control" id="name" placeholder="Camisa Regular Em Sarja"/>
        </div>

        <div class="form-group p-2">
            <label for="description" class="control-label">Descrição Curta</label>
            <textarea asp-for="ProductDescription" class="form-control" id="description"
                      placeholder="Essa camisa regular em sarja oferece um visual clássico e confortável, ideal para diversas ocasiões. O tecido de sarja proporciona um toque macio e durabilidade, enquanto a modelagem regular garante um caimento solto e elegante."></textarea>
        </div>

        <div class="form-group p-2">
            <label for="price" class="control-label">Valor</label>
            <input type="number" min="0" step=".01" asp-for="ProductPrice" class="form-control" id="price"/>
        </div>

        <div class="form-group">
            <div class="dropdown p-2">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownGender"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Selecionar Gênero
                </button>
                <span asp-validation-for="GenderId" class="text-danger"></span> @* Validação para o campo Gênero *@
                <ul class="dropdown-menu" aria-labelledby="dropdownGender">
                    @if (Model.AvailableGenders != null && Model.AvailableGenders.Any()) {
                        foreach (var gender in Model.AvailableGenders) {
                            <li>
                                <div class="form-check ms-2">
                                    <input type="radio" class="form-check-input" asp-for="GenderId" value="@gender.GenderId" id="gender_@gender.GenderId"/>
                                    <label class="form-check-label" for="gender_@gender.GenderId">@gender.Gender</label>
                                </div>
                            </li>
                        }
                    } else {
                        <li>
                            <span class="dropdown-item">Nenhum gênero cadastrado</span>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="dropdown p-2">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCategories"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Selecionar Categorias
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownCategories">
                    @if (Model.AvailableCategories != null && Model.AvailableCategories.Any()) {
                        foreach (var category in Model.AvailableCategories) {
                            <li>
                                <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" name="SelectedCategories"
                                           value="@category.CategoryId" id="category_@category.CategoryId"
                                           @(Model.SelectedCategories != null && Model.SelectedCategories.Contains(category.CategoryId) ? "checked" : "")/>
                                    <label class="form-check-label" for="category_@category.CategoryId">@category.Category</label>
                                </div>
                            </li>
                        }
                    } else {
                        // ...
                    }
                    <li>
                        <a role="button" class="btn" asp-controller="Category" asp-action="Register">cadastrar</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="dropdown p-2">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownColors"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Selecionar Cores
                </button>
                @* Para exibir erros de validação relacionados à seleção de cores (ex: se for obrigatório selecionar ao menos uma),
                   você pode ter um [Required] na propriedade SelectedColors da ViewModel,
                   e o ValidationSummary ou um span customizado pegaria o erro.
                   Ex: <span asp-validation-for="SelectedColors" class="text-danger"></span> (Pode precisar de ajustes para listas) *@
                <ul class="dropdown-menu" aria-labelledby="dropdownColors">
                    @if (Model.AvailableColors != null && Model.AvailableColors.Any()) {
                        foreach (var color in Model.AvailableColors) {
                            <li>
                                <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" name="SelectedColors"
                                           value="@color.ColorId" id="color_@color.ColorId"
                                           @(Model.SelectedColors != null && Model.SelectedColors.Contains(color.ColorId) ? "checked" : "")/>
                                    <label class="form-check-label" for="color_@color.ColorId">
                                        <div class="color-box color-s"
                                             style="background-color: @color.HexColor"></div>
                                        @color.Color
                                    </label>
                                </div>
                            </li>
                        }
                    } else {
                        <li>
                            <span class="dropdown-item">Nenhuma cor cadastrada</span>
                        </li>
                    }
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a role="button" class="btn dropdown-item" asp-controller="Color" asp-action="Register">Cadastrar Nova Cor</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="dropdown p-2">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownSizes"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Selecionar Tamanhos
                </button>
                @* Validação para SelectedSizes, se necessário *@
                <ul class="dropdown-menu" aria-labelledby="dropdownSizes">
                    @if (Model.AvailableSizes != null && Model.AvailableSizes.Any()) {
                        foreach (var size in Model.AvailableSizes) {
                            <li>
                                <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" name="SelectedSizes"
                                           value="@size.SizeId" id="size_@size.SizeId"
                                           @(Model.SelectedSizes != null && Model.SelectedSizes.Contains(size.SizeId) ? "checked" : "")/>
                                    <label class="form-check-label" for="size_@size.SizeId">@size.Size</label>
                                </div>
                            </li>
                        }
                    } else {
                        <li>
                            <span class="dropdown-item">Nenhum tamanho cadastrado</span>
                        </li>
                    }
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a role="button" class="btn dropdown-item" asp-controller="Size" asp-action="Register">Cadastrar Novo Tamanho</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div id="stockInputsContainer">
            </div>
        </div>

        <div class="form-group">
            <a role="button" class="btn btn-secondary" asp-controller="Product" asp-action="Index">Cancelar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>


