@model List<ColorModel>

@{
    Layout = "_Layout";
}

<div class="text-center">
    <div class="text-end">
        <a role="button" class="btn btn-primary" asp-controller="Color" asp-action="Register"><i class="bi bi-send-plus"></i></a>
    </div>

    @if ( TempData[ "SuccessMessage" ] != null ) {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i> @TempData[ "SuccessMessage" ]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if ( TempData[ "ErrorMessage" ] != null ) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-x-octagon-fill me-2"></i> @TempData[ "ErrorMessage" ]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if ( TempData[ "WarningMessage" ] != null ) {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i> @TempData[ "WarningMessage" ]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    
    <h1 class="display-4">Listagem de Cores</h1>

    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nomes</th>
            <th scope="col">Cores</th>
            <th scope="col">Cadastros</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @if (Model.Any()) {
                foreach (ColorModel color in Model) {
                    <tr>
                        <th scope="row">@color.ColorId</th>
                        <td>@color.Color</td>
                        <td>
                            <div class="color-box color-l" style="background-color:@color.HexColor"></div>
                        <td>
                            <a href="javascript:" class="btn btn-success btn-total-products">10</a> 
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@color.ColorId" asp-controller="Color" asp-action="Edit"><i class="bi bi-pencil-fill"></i></a>
                                <a role="button" class="btn btn-danger btn-delete-color" color-id="@color.ColorId"><i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="modal" id="modalProductColor" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title display-6">Produtos Cadastrados como vermelho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cores</th>
                            <th scope="col">Estoque</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Camisa de seda</td>
                            <td>
                                <ul>
                                    <li>Vermelho</li>
                                </ul>
                            </td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Conjunto Smooking</td>
                            <td>
                                <ul>
                                    <li>Vermelho</li>
                                    <li>Preto</li>
                                    <li>Cinza</li>
                                    <li>Branco</li>
                                    <li>Azul</li>
                                </ul>
                            </td>
                            <td>14</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalDeleteColor" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Você tem certeza que deseja excluir a cor vermelho? Essa ação não pode ser desfeita.</h6>
                    <p>Essa ação não irá excluir os 10 produtos cadastrados nessa cor</p>
                    <p>só removerá essa cor do cadastro deles</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

